.container-2d {
  height: 100%;
  position: relative;
  background: #000000;
}

.person-item {
  position: absolute;
  width: 200px;
  height: 200px;
}

.person-item img {
  width: 100%;
  height: 100%;
}
